{% extends "layout.html.twig" %}

{% block title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block fos_user_content %}
    <section class="card-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="card text-center">
                    <header class="text-center">
                        <div class="section-subtitle">{{ 'login.details'|trans }}</div>
                    </header>
                    <div class="icon">
                        <img src="//{{ app.request.getHttpHost() ~ '/co/bundles/Devprom/ServiceDeskBundle/public/images/icon-login.png' }}" alt="">
                    </div>
                    <div class="body">
                        <form role="form" action="{{ path("fos_user_security_check") }}" method="post" id="login-form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <fieldset>

                                <div class="row">
                                    <div class="col-md-6">
                                        <input id="username" type="text" name="_username" class="search-field form-control input-lg"
                                               placeholder="{{ 'security.login.username.prompt'|trans({}, 'FOSUserBundle') }}"
                                               value="{{ last_username }}" required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input id="password" type="password" name="_password" class="search-field form-control input-lg"
                                               placeholder="{{ 'security.login.password.prompt'|trans({}, 'FOSUserBundle') }}" required="required">
                                    </div>
                                </div>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'FOSUserBundle') }}</div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-block" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
                                        {% if registration_enabled %}
                                            {% if resetting_enabled %}
                                                <p class="forget-pass">
                                                    <a class="forgot" href="{{  path("fos_user_resetting_request") }}">{{ 'security.login.password.recover'|trans({}, 'FOSUserBundle') }}</a>
                                                </p>
                                            {% endif %}
                                            <p class="forget-pass">
                                                <a class="forgot" id="_register" name="_register" href="{{ path('fos_user_registration_register') }}">
                                                    {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}
