{% extends '::content_info.html.twig' %}
{% import "DevpromServiceDeskBundle:Common:macros.html.twig" as macro %}

{% block title %}
    {{ 'kb.title'|trans }}
{% endblock %}

{% block content_header_bar %}
{% endblock %}

{% block content -%}
    <div class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{{ path('docs_list') }}">{{ article.parent.parent.name|unescapeHtml }}</a></li>
                <li><a href="{{ path('docs_list') }}#{{ article.parent.id }}">{{ article.parent.name|unescapeHtml }}</a></li>
                <li class="active">{{ article.name|unescapeHtml }}</li>
            </ol>
        </div>
    </div>

    <section class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <article class="post">
                        <h1>{{ article.name|unescapeHtml }}</h1>
                        <ul class="meta">
                            <li><span>{{ 'kb.created'|trans }}:</span> {{ localeDate(article.createdAt) }}</li>
                            <li><span>{{ 'kb.updated'|trans }}:</span> {{ localeDate(article.modifiedAt) }}</li>
                        </ul>
                        <p>{% autoescape false %}{{ wysiwyg(article) }}{% endautoescape %}</p>
                    </article>
                    <div class="sidebar">
                        <div class="widget widget-support-forum">
                            <span class="icon icon-forum"></span>
                            <h4>{{ 'kb.missed_info'|trans }}</h4>
                            <p>{{ 'kb.write_query'|trans }}</p>
                            <a href="{{ url('issue_new') }}" class="btn btn-success">{{ 'issue.add'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pt-50">
                        <div class="widget widget_categories">
                            <span class="icon icon-folder"></span>
                            <h4>{{ 'kb.other_topics'|trans }}</h4>
                            <ul>
                                {% for same in articles if same.parent == article.parent %}
                                    {% if same.id != article.id %}
                                        <li><a href="{{ path('docs_article', { 'article': same.name|unescapeHtml }) }}"> {{ same.name|unescapeHtml }} </a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
