<section class="card-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="card text-center">
                <header class="text-center">
                    <div class="section-subtitle">{{ 'resetting.reset.title'|trans({}, 'FOSUserBundle') }}</div>
                </header>
                <div class="body">
                    {{ form_start(form, {"attr": {"class":"form-horizontal","action":path('fos_user_resetting_reset', {'token': token})}}) }}
                        {{ form_widget(form) }}
                        <div class="row">
                            <input type="submit" class="btn btn-success" value=" {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}">
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
