<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{ title }}</title>
    <script>
        // Ignore this in your implementation
        window.isMbscDemo = true;
        window.language = '{{ language }}';
    </script>
    <link rel="stylesheet" href="//{{ app.request.getHttpHost() ~ '/mobile/bundles/Devprom/MobileAppBundle/Resources/public/css/mobiscroll.jquery.min.css?v=' ~ app_version }}" />
    <link rel="stylesheet" href="//{{ app.request.getHttpHost() ~ '/mobile/bundles/Devprom/MobileAppBundle/Resources/public/css/app.css?v=' ~ app_version }}" />
    <link rel="stylesheet" href="//{{ app.request.getHttpHost() ~ '/styles/wysiwyg/reset.css?v=' ~ app_version }}" />
    <link rel="stylesheet" href="//{{ app.request.getHttpHost() ~ '/plugins/wrtfckeditor/ckeditor/inline-content.css?v=' ~ app_version }}" />
</head>
<body>
{% block body %}{% endblock %}
<script src="//{{ app.request.getHttpHost() ~ '/scripts/jquery/jquery.min.js?v=' ~ app_version }}"></script>
<script src="//{{ app.request.getHttpHost() ~ '/mobile/bundles/Devprom/MobileAppBundle/Resources/public/js/mobiscroll.jquery.min.js?v=' ~ app_version }}"></script>
<script src="//{{ app.request.getHttpHost() ~ '/scripts/vis/handlebars-v4.1.0.js?v' ~ app_version }}" type="text/javascript" charset="UTF-8"></script>
<script src="//{{ app.request.getHttpHost() ~ '/mobile/bundles/Devprom/MobileAppBundle/Resources/public/js/app.js?v=' ~ app_version }}"></script>
<script src="//{{ app.request.getHttpHost() ~ '/mobile/bundles/Devprom/MobileAppBundle/Resources/public/js/mobiscroll.i18n.' ~ language ~ '.js?v=' ~ app_version }}"></script>
</body>
</html>