{% extends 'MobileAppBundle::base.html.twig' %}

{% block body -%}
    <div class="app-page" mbsc-enhance style="display:none;">
        <div class="app-header">
            <h1>{{ header | raw }}</h1>
        </div>

        {% include "MobileAppBundle:Widgets:hamburger.html.twig" with {'tabs':tabs} %}

        <div mbsc-form data-url="{{     url }}">
            {% for group in groups %}
                <div class="mbsc-form-group">
                    <div class="mbsc-form-group-title">{{ group.title }} &nbsp; </div>

                    {% for field in group.fields %}
                        {% if field.type == 'comments' %}
                            {% for comment in field.comments %}
                                <div mbsc-card id="{{ comment.id }}" data-url="{{ comment.url }}">
                                    <div class="mbsc-card-content">
                                        <div class="mbsc-row">
                                            {% if comment.userpic %}
                                                <div class="mbsc-col-1">
                                                    <img style="{{ comment.userpic }}" draggable="false" class="mbsc-avatar">
                                                </div>
                                            {% endif %}
                                            <div class="mbsc-col">
                                                <span class="mbsc-bold">
                                                    {{ comment.title | raw }}
                                                </span>
                                            </div>
                                            <div class="mbsc-col-3 mbsc-align-right mbsc-txt-s">
                                                {{ comment.when }}
                                            </div>
                                        </div>
                                        <div class="mbsc-card-subtitle">
                                            <p>{{ comment.details | raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        {% elseif field.type == 'wysiwyg' %}
                            <div class="mbsc-form-wysiwyg">
                                {{ field.value | raw }}
                            </div>

                        {% else %}
                            <label>
                                {{ field.title | raw }}

                                {% if field.editable == 'false' %}
                                    {% if field.type == 'varchar' %}
                                        <input mbsc-input itype="text" value="{{ field.value }}" disabled />

                                    {% else %}
                                        <textarea mbsc-textarea disabled>{{ field.value | raw }}</textarea>

                                    {% endif %}

                                {% elseif field.type == 'varchar' %}
                                    <input mbsc-input name="{{ field.name }}" type="text" placeholder="{{ field.default }}" value="{{ field.value }}" />

                                {% elseif field.type == 'text' %}
                                    <textarea mbsc-textarea name="{{ field.name }}">{{ field.value | raw }}</textarea>

                                {% elseif field.type == 'integer' %}
                                    <input mbsc-input name="{{ field.name }}" field-type="number" placeholder="{{ field.default }}" value="{{ field.value }}" />

                                {% elseif field.type == 'float' %}
                                    <input mbsc-input name="{{ field.name }}" field-type="number" placeholder="{{ field.default }}" value="{{ field.value }}" />

                                {% elseif field.type == 'select' %}
                                    <select mbsc-dropdown name="{{ field.name }}" placeholder="{{ field.default }}">
                                        {% for option in field.options %}
                                            <option value="{{ option.value }}" {% if field.value == option.value %} selected {% else %} {% endif %}>{{ option.title }}</option>
                                        {% endfor %}
                                    </select>

                                {% elseif field.type == 'char' %}
                                    <input mbsc-checkbox type="checkbox" {% if field.value == 'Y' %} checked {% else %} unchecked {% endif %} />

                                {% endif %}
                            </label>
                        {% endif %}
                    {% endfor %}

                </div>
            {% endfor %}

            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title"></div>
                <div class="mbsc-btn-group-justified">
                    <button id="submit" translate="saveButton" mbsc-button class="mbsc-btn-primary"></button>
                    {% if id %}
                        <button id="comment" translate="commentButton" mbsc-button class="mbsc-btn-secondary"></button>
                    {% endif %}
                </div>
            </div>

            <div id="popup-reply" data-url="{{ commentUrl }}">
                <div mbsc-form>
                    <div class="mbsc-form-group-inset">
                        <label>
                            <textarea mbsc-textarea data-icon="pencil" data-icon-align="right"></textarea>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}