{% extends 'MobileAppBundle::base.html.twig' %}

{% block body -%}
    <div class="app-page" mbsc-enhance style="display:none;">

        {% include "MobileAppBundle:Widgets:hamburger.html.twig" with {'tabs':tabs} %}

        {% for tab in tabs %}
        <div id="tab-{{ tab.id }}" class="app-tab {{ tab.class }}">
            <div class="app-header">
                <h1>{{ tab.title }}</h1>
            </div>

            {% if tab.view == 'listview' %}
                <div mbsc-form {% if (tab.id == 'work') or (tab.id == 'messages') %} class="mbsc-before-bottom" {% endif %}>
                    <ul class="mbsc-cloak mbsc-card-list" data-id="{{ tab.id }}" data-source="{{ tab.url }}" mbsc-enhance data-template="{{ tab.template }}"></ul>
                </div>
            {% else %}
                <ul loading-id="{{ tab.id }}"></ul>
                <div data-source="{{ tab.url }}" data-template="card-tpl"></div>
            {% endif %}

            {% if tab.id == 'work' %}
                <div class="mbsc-form-group mbsc-form-bottom">
                    <div class="mbsc-form-group-title"></div>
                    <div class="mbsc-btn-group-justified">
                        <button translate="addIssueButton" mbsc-button class="mbsc-btn-primary" new-url="{{ tab.newissueurl }}"></button>
                        <button translate="addTaskButton" mbsc-button class="mbsc-btn-secondary" new-url="{{ tab.newtaskurl }}"></button>
                    </div>
                </div>
            {% endif %}

            {% if tab.id == 'messages' %}
                <div class="mbsc-form-group mbsc-form-bottom">
                    <div class="mbsc-form-group-title"></div>
                    <div class="mbsc-btn-group-justified">
                        <button translate="askButton" mbsc-button class="mbsc-btn-primary" new-url="{{ tab.newdiscurl }}"></button>
                    </div>
                </div>

                <div id="popup-reply">
                    <div mbsc-form>
                        <div class="mbsc-form-group-inset">
                            <label>
                                <textarea mbsc-textarea data-icon="pencil" data-icon-align="right"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endfor %}

        <ul id="tabs" style="display:none;">
            {% for tab in tabs %}
            <li data-tab="{{ tab.id }}" data-icon="{{ tab.icon }}">{{ tab.short }}</li>
            {% endfor %}
        </ul>

        <div id="projects-popup" class="mbsc-cloak">
            <ul id="projects-list">
                <li data-role="list-divider"> {{ projectsHeader }}</li>
                {% for project in projects %}
                    <li project="{{ project.code }}">{{ project.title | raw }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script id="whatsnew-item-tpl" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="mbsc-card-content" data-url="{{ url }}">
                {{#if priority}}
                    <span class="pri-cir" style="background-color:{{ priority }}"> </span>
                {{/if}}
                <p class="mbsc-bold ma-nowrap">{{ title }}</p>
                <div class="mbsc-card-subtitle">
                    {{#if details}} <p>{{{ details }}}</p> {{/if}}
                    {{#if content}} {{{ content }}} {{/if}}
                </div>
            </div>
        {% endverbatim %}
    </script>

    <script id="work-item-tpl" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="mbsc-card-content" data-url="{{ url }}">
                {{#if priority}}
                    <span class="pri-cir" style="background-color:{{ priority }}"> </span>
                {{/if}}
                <p class="mbsc-bold ma-nowrap">{{ title }}</p>
                <div class="mbsc-card-subtitle">
                    {{#if details}}
                        <p>{{{ details }}}</p>
                    {{/if}}
                </div>
            </div>
        {% endverbatim %}
    </script>

    <script id="comments-item-tpl" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="mbsc-card-content" data-url="{{ url }}">
                <div class="mbsc-row">
                    {{#if userpic}}
                        <div class="mbsc-col-1">
                            <img style="{{ userpic }}" draggable="false" class="mbsc-avatar">
                        </div>
                    {{/if}}
                    <div class="mbsc-col">
                        <span class="mbsc-bold">
                            {{ title }}
                        </span>
                    </div>
                    <div class="mbsc-col-3 mbsc-align-right mbsc-txt-s">
                        {{ when }}
                    </div>
                </div>
                <div class="mbsc-card-subtitle">
                    <p>{{{ details }}}</p>
                </div>
            </div>
        {% endverbatim %}
    </script>

    <script id="wiki-item-tpl" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="mbsc-card-content" data-url="{{ url }}">
                {{#if priority}}
                    <span class="pri-cir" style="background-color:{{ priority }}"> </span>
                {{/if}}
                <p class="mbsc-bold ma-nowrap">{{ title }}</p>
            </div>
        {% endverbatim %}
    </script>

    <script id="card-tpl" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="mbsc-card" data-collapsible>
                <div class="mbsc-card-header">
                    {{#if userpic }}<img style="{{ userpic }}" class="mbsc-avatar">{{/if}}
                    <h5 class="mbsc-card-title mbsc-bold ma-nowrap">{{ title }}</h5>
                    <div class="mbsc-card-subtitle">
                        <p>
                            {{#if statecolor }}<span class="pri-cir" style="background-color:{{ statecolor }}"> </span> {{/if}}
                            {{ details }}
                        </p>
                    </div>
                </div>
                <div class="mbsc-card-content">
                    <ul class="md-lv mbsc-cloak">
                        {{#groups}}
                            <li data-id="{{ @index }}" data-icon="{{ icon }}">{{{ title }}}
                                <ul>
                                    {{#items }}
                                        <li data-url="{{ url }}">{{ id }}
                                        {{#if closed }} <strike> {{/if}}
                                        {{{ title }}}
                                        {{#if closed }} </strike> {{/if}}
                                        </li>
                                    {{/items}}
                                </ul>
                            </li>
                        {{/groups}}
                    </ul>
                </div>
            </div>
        {% endverbatim %}
    </script>

    <script id="build-item-tpl" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="mbsc-card-content" data-url="{{ url }}">
                {{#if statecolor}}
                    <span class="pri-cir" style="background-color:{{ statecolor }}"> </span>
                {{/if}}
                <p class="mbsc-bold ma-nowrap">{{{ title }}}</p>
                <div class="mbsc-card-subtitle">
                    <div class="mbsc-row">
                        <div class="mbsc-col">
                            <p>{{ state }}
                                    {{#tests}}
                                        <span class="pri-cir" style="float:right;background-color:{{ resultcolor }}"> </span>
                                    {{/tests}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endverbatim %}
    </script>

    <script id="test-item-tpl" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="mbsc-card-content" data-url="{{ url }}">
                {{#if statecolor}}
                    <span class="pri-cir" style="background-color:{{ statecolor }}"> </span>
                {{/if}}
                <p class="mbsc-bold ma-nowrap">{{{ title }}}</p>
                <div class="mbsc-card-subtitle">
                    <div class="mbsc-row">
                        <div class="mbsc-col-6">
                            <p>{{{ details }}}</p>
                        </div>
                        <div class="mbsc-col">
                            <p> {{#tests}}
                                    <span style="float:right;">{{ count }}</span>
                                    <span class="pri-cir" style="float:right;margin-left:0.5em;background-color:{{ resultcolor }}"> </span>
                                {{/tests}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endverbatim %}
    </script>

{% endblock %}