{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'edit.title'|trans }}
{% endblock %}

{% block content -%}
    <section class="card-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="card text-center">
                    <div class="body">
                        <form role="form" class="form-horizontal" action="{{ path('issue_update', { 'id': issue.id }) }}" method="POST" {{ form_enctype(edit_form) }}>
                            <input type="hidden" name="_method" value="PUT" />
                            {{ form_widget(edit_form) }}
                            <div class="row">
                                <button type="submit" class="btn btn-primary">{{ 'issue.update'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}