{% extends '::content.html.twig' %}

{% import "DevpromServiceDeskBundle:Common:macros.html.twig" as macro %}

{% block title %}
    {% trans %} index.title {% endtrans %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/co/bundles/Devprom/ServiceDeskBundle/public/css/responsive-tables.css') }}" />
{% endblock %}

{% block content -%}
    {% if issues is not empty %}
        <section class="widget">

            <div class="body responsive-table">
                {% if sortDirection == 'asc' %}
                    {% set sortDirectionClass = 'ascending' %}
                    {% set reverseSortDirection = 'desc' %}
                {% else %}
                    {% set sortDirectionClass = 'descending' %}
                    {% set reverseSortDirection = 'asc' %}
                {% endif %}
                <table class="table table-striped table-editable" id="issues-list">
                    <thead>
                        <tr>
                            <th class="no-wrap {% if sortColumn == 'issue.id' %} {{ sortDirectionClass }}{% endif %}">
                                <a href="{{ path('issue_list', {'sortColumn':'issue.id','sortDirection':reverseSortDirection}) }}">
                                    {{ 'issue_id'|trans }}
                                    <b class="sort-caret"></b>
                                </a>
                            </th>
                            <th class="no-wrap {% if sortColumn == 'issue.caption' %} {{ sortDirectionClass }}{% endif %}">
                                <a href="{{ path('issue_list', {'sortColumn':'issue.caption','sortDirection':reverseSortDirection}) }}">
                                    {{ 'issue_caption'|trans }}
                                    <b class="sort-caret"></b>
                                </a>
                            </th>
                            <th class="no-wrap {% if sortColumn == 'product.name' %} {{ sortDirectionClass }}{% endif %}">
                                <a href="{{ path('issue_list', {'sortColumn':'product.name','sortDirection':reverseSortDirection}) }}">
                                    {{ 'issue_product'|trans }}
                                    <b class="sort-caret"></b>
                                </a>
                            </th>
                            <th class="no-wrap {% if sortColumn == 'issue.state' %} {{ sortDirectionClass }}{% endif %}">
                                <a href="{{ path('issue_list', {'sortColumn':'issue.state','sortDirection':reverseSortDirection}) }}">
                                    {{ 'issue_state'|trans }}
                                    <b class="sort-caret"></b>
                                </a>
                            </th>
                            <th class="no-wrap {% if sortColumn == 'priority.id' %} {{ sortDirectionClass }}{% endif %}">
                                <a href="{{ path('issue_list', {'sortColumn':'priority.id','sortDirection':reverseSortDirection}) }}">
                                    {{ 'issue_priority'|trans }}
                                    <b class="sort-caret"></b>
                                </a>
                            </th>
                            <th class="no-wrap hidden-xs{% if sortColumn == 'issue.createdAt' %} {{ sortDirectionClass }}{% endif %}">
                                <a href="{{ path('issue_list', {'sortColumn':'issue.createdAt','sortDirection':reverseSortDirection}) }}">
                                    {{ 'issue_createdAt'|trans }}
                                    <b class="sort-caret"></b>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for issue in issues %}
                        <tr>
                            <td class="issue-id-cell"  data-title="{{ 'issue_id'|trans }}"><img src="/images/{{ issueTypeIconFilename(issue.issueType.referenceName) }}">&nbsp;<a href="{{ path('issue_show', { 'id': issue.id }) }}">[I-{{ issue.id }}]</a></td>
                            <td class="issue-caption-cell" data-title="{{ 'issue_caption'|trans }}">
                                <a href="{{ path('issue_show', { 'id': issue.id }) }}">
                                    {{ issue.caption|unescapeHtml }}
                                </a>
                            </td>
                            <td class="centered" data-title="{{ 'issue_product'|trans }}">{{ issue.product|unescapeHtml }}</td>
                            <td class="centered" data-title="{{ 'issue_state'|trans }}">{{ issue.state.name|trans }}</td>
                            <td class="centered" data-title="{{ 'issue_priority'|trans|slice(0,7) }}.">
                                {{ macro.priority_badge(issue.priority.name|trans, issue.priority.id) }}
                            </td>
                            <td data-title="{{ 'issue_createdAt'|trans|slice(0,7) }}." class="hidden-xs centered">{% if issue.createdAt %}{{ issue.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('issue_new') }}" class="btn btn-lg btn-success" id="create-issue-button">
                    <i class="icon-plus"></i> {{ 'issue.add'|trans }}
                </a>
            </div>
        </section>
    {% else %}
        <section class="widget col-sm-6 col-sm-offset-3 centered">
            <h2>{{ 'index.no.issues'|trans }}</h2>

            <div class="body">

                <a href="{{ path('issue_new') }}" class="btn btn-lg btn-success" id="create-issue-button">
                    <i class="icon-plus"></i> {{ 'issue.add'|trans }}
                </a>

            </div>
            <br>
        </section>

    {% endif %}

{% endblock %}
