{% extends 'layout.html.twig' %}

{% import "DevpromServiceDeskBundle:Common:macros.html.twig" as macro %}

{% block title %}
    {{ app.request.get('filter') == "company" ? 'index.company_title'|trans : 'index.title'|trans }}
{% endblock %}

{% block content -%}
    {% if issues is not empty %}
        <section class="card-section">
            <div class="container">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body responsive-table">
                            {% if sortDirection == 'asc' %}
                                {% set sortDirectionClass = 'ascending' %}
                                {% set reverseSortDirection = 'desc' %}
                            {% else %}
                                {% set sortDirectionClass = 'descending' %}
                                {% set reverseSortDirection = 'asc' %}
                            {% endif %}
                            <table class="table table-striped table-editable" id="issues-list">
                                <thead>
                                    <tr>
                                        <th class="no-wrap {% if sortColumn == 'issue.id' %} {{ sortDirectionClass }}{% endif %}" width="10%">
                                            <a href="{{ path('issue_list', {'filter':issuesFilter,'state':state,'sortColumn':'issue.id','sortDirection':reverseSortDirection}) }}">
                                                {{ 'issue_id'|trans }}
                                                <b class="sort-caret"></b>
                                            </a>
                                        </th>
                                        <th class="no-wrap {% if sortColumn == 'issue.caption' %} {{ sortDirectionClass }}{% endif %}">
                                            <a href="{{ path('issue_list', {'filter':issuesFilter,'state':state,'sortColumn':'issue.caption','sortDirection':reverseSortDirection}) }}">
                                                {{ 'issue_caption'|trans }}
                                                <b class="sort-caret"></b>
                                            </a>

                                            <a class="btn-first btn btn-sm {% if state == 'all' %} {{ 'btn-success' }}{% endif %}"
                                               href="{{ path('issue_list', {'filter':issuesFilter,'state':'all','sortColumn':sortColumn,'sortDirection':sortDirection}) }}">
                                                {{ 'issue_state_all'|trans }}
                                            </a>
                                            <a class="btn btn-sm {% if state == 'open' or state == '' %} {{ 'btn-success' }}{% endif %}"
                                               href="{{ path('issue_list', {'filter':issuesFilter,'state':'open','sortColumn':sortColumn,'sortDirection':sortDirection}) }}">
                                                {{ 'issue_state_open'|trans }}
                                            </a>
                                            <a class="btn btn-sm {% if state == 'closed' %} {{ 'btn-success' }}{% endif %}"
                                               href="{{ path('issue_list', {'filter':issuesFilter,'state':'closed','sortColumn':sortColumn,'sortDirection':sortDirection}) }}">
                                                {{ 'issue_state_closed'|trans }}
                                            </a>
                                        </th>
                                        <th class="no-wrap {% if sortColumn == 'severity.id' %} {{ sortDirectionClass }}{% endif %}" width="10%">
                                            <a href="{{ path('issue_list', {'filter':issuesFilter,'state':state,'sortColumn':'severity.id','sortDirection':reverseSortDirection}) }}">
                                                {{ 'issue_severity'|trans }}
                                                <b class="sort-caret"></b>
                                            </a>
                                        </th>
                                        {% if app.request.get('filter') == "company" %}
                                        <th class="no-wrap hidden-xs{% if sortColumn == 'issue.customer.username' %} {{ sortDirectionClass }}{% endif %}" width="20%">
                                            {{ 'issue_author'|trans }}
                                        </th>
                                        {% endif %}
                                        <th class="no-wrap hidden-xs{% if sortColumn == 'issue.createdAt' %} {{ sortDirectionClass }}{% endif %}" width="20%">
                                            <a href="{{ path('issue_list', {'filter':issuesFilter,'state':state,'sortColumn':'issue.createdAt','sortDirection':reverseSortDirection}) }}">
                                                {{ 'issue_createdAt'|trans }}
                                                <b class="sort-caret"></b>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set state = '' %}
                                {% for issue in issues %}
                                    {% if state != issue.state.name %}
                                    <tr>
                                        <td class="state-row" colspan="{{ app.request.get('filter') == "company" ? 5 : 4 }}">
                                            <b>{{ issue.state.name|trans }}</b>
                                            {% if issue.state.description != "" %}
                                                <span class="state-desc">&mdash; {{ issue.state.description|unescapeHtml }}</span>
                                            {% endif %}
                                            {% set state = issue.state.name %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="issue-id-cell"  data-title="{{ 'issue_id'|trans }}">
                                            <a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.id }}</a>
                                        </td>
                                        <td class="issue-caption-cell" data-title="{{ 'issue_caption'|trans }}">
                                            <a href="{{ path('issue_show', { 'id': issue.id }) }}">
                                                {{ issue.caption|unescapeHtml }}
                                            </a>
                                            {% set notifications = [] %}
                                            {% for notification in issue.notifications %}
                                                {% for myNotification in app.user.notifications %}
                                                    {% if myNotification.id == notification.id %}
                                                        {% set notifications = notifications|merge([myNotification]) %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {% if notifications|length > 0 %}
                                                <span class="numberCircle" title="{{ 'index.notifications'|trans }}"><span>{{ notifications|length }}</span></span>
                                            {% endif %}
                                        </td>
                                        <td class="centered" data-title="{{ 'issue_severity'|trans|slice(0,7) }}.">
                                            {{ issue.severity.name|trans }}
                                        </td>
                                        {% if app.request.get('filter') == "company" %}
                                        <td class="hidden-xs" data-title="{{ 'issue_author'|trans }}">
                                            {{ issue.customer.username }}
                                        </td>
                                        {% endif %}
                                        <td data-title="{{ 'issue_createdAt'|trans|slice(0,7) }}." class="hidden-xs">{% if issue.createdAt %}{{ localeDate(issue.createdAt) }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-center">
                                <a href="{{ path('issue_new') }}" class="btn btn-lg btn-success" id="create-issue-button">
                                    <i class="icon-plus"></i> {{ 'issue.add'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="card-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="card text-center">
                        <header class="text-center">
                            <div class="section-subtitle">{{ 'index.no.issues'|trans }}</div>
                        </header>
                        <div class="body">
                            <div>
                                <a href="{{ path('issue_new') }}" class="btn btn-lg btn-success" id="create-issue-button">
                                    <i class="icon-plus"></i> {{ 'issue.add'|trans }}
                                </a>
                            </div>
                            {% if state != 'closed' %}
                                <div>
                                    <br/><br/>
                                    <a class="btn btn-link" href="{{ path('issue_list', {'state':'closed'}) }}">
                                        {{ 'index.go.closed.issues'|trans }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
