{% extends 'layout.html.twig' %}

{% block title %}
    {% trans %} new.title {% endtrans %}
{% endblock %}

{% block content -%}
    <section class="card-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="card text-center">
                    <div class="body">
                        {{ form_start(form, {"attr": {"class":"form-horizontal","action":path('issue_create')}}) }}
                            {{ form_widget(form) }}
                            <div class="row">
                               <input type="submit" class="btn btn-success" value="{{ 'issue.create'|trans }}">
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="//{{ app.request.getHttpHost() ~ '/plugins/wrtfckeditor/ckeditor/ckeditor.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/scripts/locale/underi18n.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/plugins/wrtfckeditor/resources/js/locals/ru/resource.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/scripts/jquery/paste.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/scripts/flow/flow.min.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/co/bundles/Devprom/ServiceDeskBundle/public/js/wysiwyg.js?v=' ~ app_version }}"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            setupEditorGlobal();
            setupWysiwygEditor('issue_form_description', 450);
        });
    </script>
{% endblock %}