{% extends '::content_info.html.twig' %}

{% import "DevpromServiceDeskBundle:Common:macros.html.twig" as macro %}

{% block title %}
    {{ issue.id }} {{ issue.caption }}
{% endblock %}

{% block content -%}
    <main class="content-wrapper">
        <div class="container">
            <div class="col-lg-8">
                <article class="post">
                    <h1>{{ issue.id }} &nbsp; <span id="issue-title">{{ issue.caption|unescapeHtml }}</span></h1>

                    <ul class="meta">
                        <li><span>{{ 'issue_createdAt'|trans }} :</span> {{ localeDate(issue.createdAt) }}</li>
                        {% if issue.deliveryDate != "" %}
                        <li><span>{{ 'issue_deliveryDate'|trans }}:</span> {{ localeDate(issue.deliveryDate) }}</li>
                        {% endif %}
                    </ul>

                    <div id="issue-description">
                        {% autoescape false %}{{ issue.description|unescapeHtml }}{% endautoescape %}
                    </div>
                    <p>&nbsp;</p>

                    {% if issue.attachments %}
                    <ul class="list-group">
                        {% for attachment in issue.attachments %}
                            <li class="list-group-item">
                                <a class="attachment-name" href="{{ path('attachment_download', { 'attachmentId' : attachment.id }) }}">{{ attachment.originalFilename }}</a>
                                <a class="attachment-delete" href="{{ path('attachment_delete', { 'attachmentId' : attachment.id }) }}" title="{{ 'issue.delete.attachment'|trans }}" class="btn btn-secondary btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span></a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="button" class="btn btn-sm btn-primary" id="add-attachment-button"
                            onclick="window.location='{{ path('attachment', { 'issueId' : issue.id }) }}';">
                        {{ 'issue.add.attachment'|trans }}
                    </button>
                    <p>&nbsp;</p>

                    {% for comment in issue.comments if comment.isprivate == 'N' %}
                        <ul class="meta">
                            <li>{% autoescape false %}{{ comment.author }}{% endautoescape %}</li>
                            <li>{{ comment.createdAt|date('d.m.Y H:i') }}</li>
                        </ul>
                        <p>
                            {% autoescape false %}{{ comment.text|unescapeHtml }}{% endautoescape %}
                            <ul>
                                {% for attachment in comment.attachments %}
                                    <li>
                                        <a href="{{ path('comment_attachment_download', { 'attachmentId' : attachment.id }) }}">{{ attachment.originalFilename }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endfor %}

                </article>
                <div class="feedback">
                    <div id="comment-form">
                        {{ form_start(comment_form, {"attr": {"class":"form-horizontal","action":path('issue_add_comment', { 'issueId' : issue.id })}}) }}
                            {{ form_widget(comment_form) }}
                            <br/>
                            <button type="submit" id="new-message-btn" class="btn btn-sm btn-primary">{{ 'issue.comment.add'|trans }}</button>
                        {{ form_end(comment_form) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="widget widget-support-forum">
                        <span class="icon icon-3"></span>

                        <h4>{{ 'issue_state'|trans }}</h4>
                        <p>
                            {{ issue.state.name|trans }}
                            {% if issue.state.description != "" %}
                                <br/>({{ issue.state.description|unescapeHtml }})
                            {% endif %}
                        </p>

                        {% if issue.issueType != "" %}
                            <h4>{{ 'issue_issueType'|trans }}</h4>
                            <p>{{ issue.issueType.name|trans }}</p>
                        {% endif %}

                        <h4>{{ 'issue_product'|trans }}</h4>
                        <p id="issue-product">
                            {% if issue.product != "" %}
                                {{ issue.product|unescapeHtml }}
                            {% else %}
                                {{ issue.project|unescapeHtml }}
                            {% endif %}
                        </p>

                        {% if issue.resolvedVersion != "" %}
                            <h4>{{ 'issue_version'|trans }}</h4>
                            <p>{{ issue.resolvedVersion | raw }}</p>
                        {% endif %}

                        <h4>{{ 'issue_severity'|trans }}</h4>
                        <p id="issue-priority">
                            {{ issue.severity.name|trans }}
                        </p>

                        <!--
                        {% if issue.assignedTo != "" %}
                            <h4>{{ 'issue_assignedTo'|trans }}</h4>
                            <p>{{ issue.assignedTo }}</p>
                        {% endif %}
                        -->

                        <a id="edit-issue-button" href="{{ path('issue_edit', { 'id': issue.id }) }}" class="btn btn-sm btn-success">{{ 'issue.edit'|trans }}</a>
                    </div>

                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    <script src="//{{ app.request.getHttpHost() ~ '/plugins/wrtfckeditor/ckeditor/ckeditor.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/scripts/locale/underi18n.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/plugins/wrtfckeditor/resources/js/locals/ru/resource.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/scripts/jquery/paste.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/scripts/flow/flow.min.js?v=' ~ app_version }}"></script>
    <script src="//{{ app.request.getHttpHost() ~ '/co/bundles/Devprom/ServiceDeskBundle/public/js/wysiwyg.js?v=' ~ app_version }}"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            setupEditorGlobal();
            setupWysiwygEditor('form_text', 230);
        });
    </script>
{% endblock %}
