{% extends 'email.base.twig' %}

{% block title %}
	Recent changes in the project, <a href="{{ log_url }}">more details</a>:
{% endblock %}

{% block content %}
	{% for date, users in dates %}
		<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
			<td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
				<h3>{{ date }}</h3>
			</td>
		</tr>
		{% for user_name, log_items in users %}
			<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
				<td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
					Changes were made by <b>{{ user_name | raw }}</b>
				</td>
			</tr>
			{% for log in log_items %}
				<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
					<td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
						{% if log.content == "" %}
							{% if log.action == "added" %}
								Added:
							{% elseif log.action == "deleted" %}
								Deleted:
							{% elseif log.action == "modified" %}
								Modified:
							{% endif %}
						{% endif %}
						{{ log.time }}, {{ log.title | raw }}
					</td>
				</tr>
				{% if log.content == "" %}
				{% else %}
					<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
						<td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
							{{ log.content | raw }}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block footer %}
	You are subscribed on <b>periodic digest notifications</b> of changes of the project.
	You can change frequency of notification or choose another notification method, e.q., receive notification addressed to you by the system only.
	<a href="{{ profile_url }}">Open your profile</a> to change notification settings.
{% endblock %}
