<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/cache/?v={{ version }}&asset=1&type=css"/>
</head>
<body style="background: none;">
    <div class="container-fluid source-text">
        <div class="row-fluid" style="min-height: 350px;">
            <br/>
            {% if support_url != "" %}
                Raise an issue using our service desk: <br/>
                <a target="_blank" href="{{ support_url }}">{{ support_url }}</a>
                <br/><br/>
            {% endif %}

            Or send us email: <br/>
            <a target="_blank" href="mailto:support@devprom.ru">support@devprom.ru</a>
            <br/><br/>

            Please, specify the following in your request: <br/>
            {{ server_url }} <br/>
            {{ license_name }} {{ current_version }}
        </div>
    </div>
</body>
</html>