<section class="card-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="card text-center">
                <header class="text-center">
                    <div class="section-subtitle">{{ 'registration.title'|trans({}, 'FOSUserBundle') }}</div>
                </header>
                <div class="body">
                    {{ form_start(form, {"attr": {"class":"form-horizontal","action":path('fos_user_registration_register')}}) }}
                        {% if invalid_username is defined %}
                            <div class="alert alert-warning">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
                        {% endif %}
                        {{ form_widget(form) }}
                        <div class="row">
                            <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
