<p>Здрaвcтвуйте!</p>
<p>Заявка "<a href="{{ issueLink }}">{{ issue.caption }}</a>" изменила состояние:</p>
{{ changes | unescapeHtml | raw }}
{% if version != '' %}
    <p><b>Выполнено в версии:</b>{{ version | unescapeHtml }}</p>
{% endif %}
<br/>
{% if comment != '' %}
    <p><b>Комментарий:</b></p>
    <blockquote>{{ comment | unescapeHtml | raw  }}</blockquote>
    <br/>
{% endif %}
<hr>