<p>Здравствуйте!</p>
<p>Благодарим Вас за регистрацию на сайте службы поддержки {{ client_name }}.</p>
<p>Ваш логин для входа на сайт: <i>{{ login }}</i></p>
<p>Ваш пароль: <i>{{ password }}</i></p>
<p>С наилучшими пожеланиями,<br>
    Служба поддержки {{ client_name }}</p>
<a href="{{ site_url }}">{{ site_url }}</a>