<p>Здравствуйте!</p>
<p>Вы зарегистрированы на сайте <a href="{{ support_url }}">службы технической поддержки {{ client_name }}</a>.</p>
<br/>
<p>Ваш логин для входа на сайт: <i>{{ login }}</i></p>
<p>Ваш пароль: <i>{{ password }}</i></p>
<br/>
<p>Заходите по ссылке {{ support_url }}</p>