<p>Здравствуйте!</p>
<p>Вы получили это письмо, потому что кто-то запросил восстановление пароля на сайте службы поддержки {{ client_name }}.</p>
<p>Для сброса пароля пожалуйста пройдите по ссылке: <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
<p>С наилучшими пожеланиями,<br>
    Служба поддержки {{ client_name }}</p>
<a href="{{ site_url }}">{{ site_url }}</a>