<p>Hi!</p>
<p>The request "<a href="{{ issueLink }}">{{ issue.caption }}</a>" have been updated:</p>
{{ changes | unescapeHtml | raw }}
{% if version != '' %}
    <p><b>Resolved in version:</b> {{ version|unescapeHtml }}</p>
{% endif %}
<br/>
{% if comment != '' %}
    <p><b>Comment from support engineer:</b></p>
    <blockquote>{{ comment | unescapeHtml | raw }}</blockquote>
    <br/>
{% endif %}
<hr>
{% if issue.state.terminal == 'Y' %}
    <p>Please, provide your feedback:
        {% for e in 1..5 %}
            <a href="{{ issueLink }}/feedback/{{ e }}" style="font-size: x-large;color:gold;text-decoration: none;">
                {{ "&#9733;" | unescapeHtml | raw }}
            </a>
        {% endfor %}
    </p>
{% endif %}
