<p>Hi!</p>
<p>You have created new request "<a href="{{ issueLink }}">{{ issue.caption }}</a>":</p>
<blockquote>{{ issue.description | unescapeHtml | raw }}</blockquote>
<br/>
<p><b>Type:</b> {{ issue.issueType }}</p>
<p><b>Product:</b> {{ issue.product != "" ? issue.product : issue.project }}</p>
<p><b>Severity:</b> {{ issue.severity }}</p>
<br/>
<p>Our support engineers already working on your request and will get back to you in the nearest time.</p>
<br/>
<hr>
<p>You can see your request and leave your comments here: <a href="{{ issueLink }}">{{ issueLink }}</a></p>