<p>Hi!</p>
<p>Support engineer have just left new comment to your request "<a href="{{ issueLink }}">{{ issue.caption }}</a>":</p>
<blockquote>{{ comment | unescapeHtml | raw }}</blockquote>
<br/>
<hr>
<p>You can see your request and leave your comments here: <a href="{{ issueLink }}">{{ issueLink }}</a></p>