<p>Hello!</p>
<p>You have been registered on <a href="{{ support_url }}">{{ client_name }} support site</a>.</p>
<br/>
<p>Your login: <i>{{ login }}</i></p>
<p>Your password: <i>{{ password }}</i></p>
<br/>
<p>Login at {{ support_url }}</p>