<p>Hello!</p>
<p>Thank you for registration on {{ client_name }} site.</p>
<p>Your login: <i>{{ login }}</i></p>
<p>Your password: <i>{{ password }}</i></p>
<p>Regards,<br>
    {{ client_name }} Support</p>
<a href="{{ site_url }}">{{ site_url }}</a>