<p>Hello!</p>
<p>You've got this message, because someone has requested password recovery from {{ client_name }}.</p>
<p>To reset your password please visit <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
<p>Regards,<br>
    {{ client_name }} Support</p>
<a href="{{ site_url }}">{{ site_url }}</a>