<div style="padding: 30px; margin: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; background-color: #ffffff;">
    <table cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" border="0" width="450px" align="center">
        <tr>
            <td align="center">
                <img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQoAAABGCAYAAAA0JtpqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QMXDQMsio/bAgAAIABJREFUeNrtnXmYVMXV/z/n9swA
wzYDsgm0IMMy06CIuAcVcbpNjEts86JoXoPEmBhi3iRqYmLUvHGJr/HFnxqjr1tciEFtoyQu3QOi
ETeIG9DDNio2IjsMDMOsfev3R1XP3O7p7lmYASH3+zz36eX2ra5bt+rUOd9z6hS42GcEwzEJhmOD
3ZZwcajCcpugU1AC3O02gwtXULjIhu7AqW4zuHAFhYtsWAvE3WZw4cJFVgTDsZLE+6fWVB73+Oqd
F7it4sLVKFwkIRTwlifef7Gn4cGaRvU1t1VcuILCRVo8tmrnzKoG+/CaRnuM2xouXEHhIglPr60c
BbBmV90d3T2yq85Wg9xWcXGoIMdtgn3DvIrKnD0N6splO2pvmldRWfLWpppew3rmvJhn8ZnbOi5c
jcIFANOLChrXVdX/6svqxv6NNv0G5+dUFORZd11R0u82t3VcuBqFiyaM7J138+4G++64UkW/mjTg
KLdFXLgahYsWuLy48KHeudbubh5Z7LaGC1dQuMiIw/NzXpxeVLAb4InVO/1z11SWuK3iwhUULpJQ
b6vDE+9jexrurmqwL3dbxcWhgoOWo7B8/iFAENgIvGBHIwckhDoYjuUAvWzFU87v6+L2KLd7uXAF
xYEVEr2BD4FErMJfgEsOUHX+B9j01qa9TV8M75V7bWxPw0a3e7lwTY8Di7MdQgJghuXzj8giWE62
fP4bLZ//PCNksHz+HpbPn9cJdTkByAfGBcOxfsFw7A+XjS186aNttVe63cuFq1EcWLwN2CmCriBF
OEwEfgwcB0xwnGqwfP4vgXrgZ8A/9rEu1wM7gNnAQMAbDMeGAKVu93LhCooDCDsaiVk+fwXgXE+h
LJ//eeAUdH6IPo5zrwDzzYA+AzgeeBb4YB/5iUKg3Aij6lDAuyoYjs0AioEj3O7lwhUUBx5+4GOg
r/m8GOjlON9ohMMcOxpZ7NA0QmgSNASofazDkcBEYwp1AwgFvI3BcKwO+JfbvVy4guIAwvL5ewDf
SQxOg4SQ2An8P+BBOxrZlEYbiQPPdFJVxgA/AXwkp8LzAOe63cuFKygOnJAYBrxqBmc6zLSjkRf3
U3WKDS9hAQ8ac2QqMCkU8N7ldi8XrqA4cJrEwhRuwomPjLmxvzDBaDCeUMC7xvATX8MNZHNxiOFg
69A/zSIkAH5mRyNqP9bnaKAfzaToBGMChdyu5cIVFAdGmygArsvyk8V2NLJof9UnGI4NAEYa0+N9
x6npwHtu13LhCooDg/+i2cORDo/u5/oc63i/1bxWAm+HAt7dbtdycUgJinkVlXlf+Ur6/IVGUGTD
ov1cLWfy3HzzOgC9GZALF4eWoNhQ3fiPW97fEn105c4rOnlwj7d8/tstn78zErnc0Io2kZjN9yem
Ot4n7vFZ4MpgODba7VouDiXkDO2Zc8HSLbUbNu6tuW/umsp/XDKmYGMnCInRwBtoom8SENiHsnoB
PzQf9zpm71QMBSotn78vMAXtPt0BbEN7Jt4ARgGTgQV2NLJtH/iJ3ug1HqA3/nndcBbnALcBjwPf
7uD9DlFKeUWkH5CPUh6QOFCrhB2CitnRsg2tPtjiqQVxyR0pogYCPVCSh6hGFFUK2aw8DWtZvqgm
9TpPSelwJXJy1sIVClSdgkqBmF1e1iI/qPhKxwvS5MK2hb+zIrI3bXljSntaufJNxx+ssKNlUQBP
celQZUnS1gdKEVPlkXcyVU98pccJcmTSd7ZaHF/ZertleS4JknyqHY28/m+hRfj8LwDnAVfnTC8q
2DN3TeUpr22o/njFztqP51VUDpteVFC/j//xP0ZIAOTuY1nHAz3M+2+bWTudsHje8vktdLRkOu5l
D81BWVssn7/YjkZ2dLBOfnRQFcCf0NGZHwFbgLuA5ztUasmoHOBMdLDWUcAQc++1puzlwHy8pz1F
7I2sz0iJdTxwIXCSKaePEbSfAYtRnsdIH8J+AvB0KzVtNMI3Csxn1Ncf5pNX9qTKU+Amx2ev+f90
GJDyn78xZYMOj0+tz99M+ZnwE2BGyncXABtw0TGhYV63ThrQ/eE1lfUDPtvd0BmMvd/Z8Syf/3eW
zz+0g2V9aV6jdjTyshmQaecloIjMBK0zvHug0XQ6inNSzI5njBbzEjAxFPA+3e4SJ/h7WTLqVmC2
iJxq7qc3IjkIvRBGCpwC8kOrV97vOPLcbmnLmXRKnuUrvUGJ53oRzgIZA9IfIRekLyLFInzTUtat
UlL6nXTKCCBZDyEXkYEiciwi37W6x29jdGmflHK6pbk2oxKQcnTLVh+B4zlynJWlsBPTlOnmh91X
QWEJvd7atPf73T2ilm6tmfjIyh1X74O6cmbKjJ9vOIbPLJ//AcvnH9fOIiuABseDfqeT7r1D+24E
w7FcksOzF4cC3oXA/cBmM4tnujbjNoNiMwW4wmhQA9HrUKoM91JtOvthxnSaJd1rT2xRyMTTPVKf
PxX4HnA6MBxIkNW2YwCPAM4CLpWxZ4xJoy2kfm5IORJqeB90LMksyeX0lOvqWxgs2YyZzNc2pvn9
EOkxbGDa/lccKDT3TSv35aK9guLi0QWf9M61GmrjSgDWVTVc20EhkW9U77cNN+DEAtNp37V8/lWW
z3+n5fMfa/n82WYa7GikEVhlBglAWSfde78OXvcNoNDx+fvBcGw58FAo4N0TCng3ZBASVwBPpDc5
EEklbBUblFJvKNQrCt5LGkoihSKq5TOyrUJRchdIivam4sB2VPJ4FJEpeDzXtXK/W1FqfdKB2p1S
Vg8RbsDyevZLrxU8ItYxaU9Z6iiQXHdod43pQXFht1cAunmEnrnW5rlrKge1U0h4DIlXhc7FcAXg
jCcYakcjlwP9zay7GDgNuMfy+f/YSvHlQH/L588xpGRnxCkUdvC6S1M+HwaMB84IhmMeh2A4NRiO
/cjxu2uNZtUCHk4fYUwhywiJt4zAfdQIl/8zvM82x3M71VNSmjRzWnHrIkPiJrSvbejsX7eY628D
9byDK+ghIqVWcWlxlvv9GzAn5fi9qdN2h+kw0Ro9elwX99cqhwoyOa1qotQxDjNnjzvEOwdNdtuQ
/JxvnTiox5v/2lp7siXUXzKmYLOJsciZXlSwtw1l3Y3OwVBqRyN7gRcsn/9c4PWELW/5/GPtaGQ1
sMIcbUViA+AhdjSy3vL5fwnc6yAUW8NsI5yc6nH/Dpgdg9EscDr8GBgUDMdOB/4KzAoFvJeZ6wYB
haGA9+70l3pK0Dk0EqNgrr0y8qekATDk3OetwtoJCF/XZoT0BDUGWK9L8HsU6vuOS+IK3lJi38KK
BSub/ql42klKrMGInGgEjhchAKxMO0Mrno+Xly1scaJ46gBLco4AMR4tycWyjneQkF2B7UBPwEJl
EBQwWRKmllI7EOnlDvNO1CimFxXYQ3vmzujuEfu9zTUn/Sm6/R4gb3NN/LE2aBPfNfbqVDsa2WW+
G4Jms9c5fnpqB+uZECpDjTnyJ/TKzVuAJY6ZtgHYhM4F8bwRXj9AeybON79tVvjbjytJ78V5xMzk
FwP/ic6cdVcwHDsvGI4NNJxAxllbiTU4+TMtB+bG+Q0K9X8oQLFFKT4A5QyWGw9S5JhZ1yDqvxH7
0+SBby8D+waao0kTWpK0qyWqP9+mFA8l17v5/7tQo9hoBNgkLmtZZxE5zkiMLxGq3SHeyRoFwIzR
BZ9/97UvAHh7U83ss4b3mpufI0vvWb593tUT+k/PICS+DXzXjkZOt3z+cZbPPwsdNzEhzc/zO1jP
hEYxHHjXCIu1aDfab9pYxi7L5z8LWAYMA860fP5v29HIsyn3MxTtPakF1iZcqMFwrAfN8RxO7AVW
o92XfzNCaYiZ/e4zM/VHoYA3izdJPMkDTnVPK1Cs+D/FznkO+AKIJQaNmUmPpdmNDPCqWlHWwv3Z
uGpRNbDI8vnfMqTsJrSrMxPS2/uxT5UaPeoNSY7rHdDF/dU2bT0UONzz/tTD4yxq4oQ8E6b1UzZe
83ENMNgd4p2sUSQwsk/eOoC9jba8v62mrHeu9XCeJeszCImeRv0/2/L5xxi185oMQgIzSDuChOdj
n1Lg29HITnRavAQetXz+Y8y9nGX5/IvMIHzdCKTtls+/wPL5+xltIh1vs8OYHVcZoVELHG44hilG
m+hv0vqnFxN2MvErKsn96pQgO43Gcj3wR2d7ptrsSllPZOUDlf1XUDGl1Asi0rHcGfUNVSmFdrUL
sodS6iPDiljYuccmnY2LD+NaVajlKOnuDvEu0CgAxhXkFQ/qkXPHZ1X1l1Xsqi+0kHUlhd1+kWHg
VRt7HMvnPzVF8DSgA1y+MObHKx1d3WlHI40mIe51ls8fMtpER7Ha8b4XUGb5/B+jc2mmw7Tuvfte
Qfq1Jl+iXZdePVY53syqLxjBcTxwfijgrclWIaXstSirSfkXkQulpLROif2+B9Y0RhfqWTO6UNnQ
VFY8SeVW4xzWww6UtSZ7M6i3QH4DVIjIJ3QkLWBvq7fzKoHqLl3jr1SeUnwkTSQEk3HkH7GRSWIa
QXSaxAu6oBbjLZ9/sJkAhqPJ7MOMWXSHHU2OGLV8/rMNP1aYnlIhBtxtRyOfpVx3BnoLinRcWsIT
eGfC1DfXnAPMMh/vM+b1KKNZDTDm5q/taKQi5b8mojPGHZEiE07IKChMVOZP566pfEjgjc01jf3e
2Ry/7y9rK1+eMbpgvSlY0K68GjsaqTOXHuco5iLgmU7ODWGZxj6b5LRz7cXmlM/9swgJ3Vozr5qc
QY0dbLSHfxj+ow+wFJ1cZz4QaU1IANjx+nWW1f0Th8Y0UXc+eUkh70lJ6UciskUpaixhbzwaqU1T
zLAkAbbqlawEdLx84Zdoj0hrAQZ22m+PPU2k1jM5ReP5vOsnNllhBpiQvILX2QeViCxXqktWR9+b
5dxIdFyJEy/SOulegiNru0nQ9BJOgjvzRP9Lx+dRNJPt52W5brrjvy4CnmqtjhlVxUvGFJQ/vHLH
bRP6df9r+c66D97ZvHf13DWVE3/+y98WblkdDRtBEbd8/ojhCRINdI8djczrgge0AdjFPmbOBurM
0a0tP+4z+PBP+40YdW4rptthQG8jOC4GrsoUT5F+prSrBXW/grscasVgQb6t4Bsi1ABrjTm0kLRB
Z9KneeJtimbtDNSmFx9WL1HyAyedqFBLulZOiJCr1hCXvUBPETVJMcCCrbbRxCY38Ua5ahX10hWV
eAsdBh9Ha3d16EjQE0ifeT0xAB8nmdgHHfR2ApC6iHCQQ0jcYbQHJ64GjiF7EqcQ2j3cYLReP5pQ
H+QQEn3Rbm6PGVtPp0ykFwFjswoKgO8V95sD8Niqndct3VLz8KaaxgfO/vE1Nz55zVU3N9bW3Gmu
/7qphAC/saORW7qol5wFXGtHI//cR57iWcvnf86oYjdnICgTJoA9ZfYvqmiObsxmzsxB582cEwp4
17SPgVlsU1L6MnpdxslGS8lBB4UlAsO8wBAFR1glpUdaFpHGFWVOz0VPJ3Hbadq+MNUqSQ3Plu7U
qSJT1wQ+UclmXddgWVk1equGo4EBnrFHe+OrF6yjeFp/miMyK+Ifle2xSvxdUYMbUheFWT7/zU41
PQP+nOa6gjZc92qa6843gsLK0s8vTLnmz7T0vJ1kJjjQDokX0pgkY6GNiWtmjit88rTD83tX1dsj
j+7fffY5t91bddioMQGaU9J7TFldltvCjkZ22dHIDZ1UlrKjkS20DDNO1q5nzFqUl9/z6DYU+TLw
HPBmKOBt4mGC4Viboz/j5WWrbInfpBQLQVWbGct2cAfdRZiEDs++UylO8ZSUSgbtsDP3Yf0O8LuU
4y7gdqTJy2ErxYuUl23eH8SaUmqpEVgeLBOhaVnFGK+aUizBRVvgNG3e65Dp8eTqnVPzPPJGXDF0
xuiC9dOLCurnrqk8b82uurHAm1N+dN0zyrZ//8I1388Fvo92oy08yBqqNtOJIROOWTj82BNPa0MZ
64CwIS/nGAFxO9rj0RgMx+YYs+mIUMCbPZem1VCBnXO3sU+PVqjxKMYKjEHEqeoMUUpdZ+nVpJ8Y
vb8WMQ9eOlVgD0cklafIazKRlELBq6hWM4ypDp5rqekhS4zAxBYmA38T1KREnQR7iTq4B/A2YKZ5
v2o//WdNhwRFo2JYVW38wTyPlN/18bZzeudawUvGFCwLhmPD0G7Qd8WynvvW/z58NzAtFPAejM9m
U1peYsiwhSfO/NFRtG3F4RzgD+hYhHHBcOynaB/+XPRCsbfQrtX7aC3p7rI36xV8oOADj690mdJh
3eONmu01qnXCDDjJ1sLoE/O5iuZtFft1YhvltTLA3wbmqZVlrURkKk+WkW+1R3CIbqPElpKGl2ji
J2zB/uBglhJ2NLIH+HMnF3uNMbVrO3JxxoGQnyNzN+21f35kn9wrV1fW37gn1/oXMCoU8L4cDMd+
jE4FtxO9XmNeMBybGQp4D7ZIuFfR0Z1N9n3P/gMemXbtzafQtuChekNgfg+diu93hmD6Idr1WoV2
0fUH2usRWGu0lb9jN+YqyT0GUdeImJBpEZRSQUeH2pGw0QU1bL9IbUVcxeOz8XhacDKisJPiJpXK
TB7nqNzkwFDVmP1vd69E9d6LSC8RdZR2gYhZJKaqVU79yoPdJrB8/iJDkqYbo94OCJ9ttFyoue+C
YnpRgf3UmsqZ5vWMN76sXvJAdMfv83PktQZbHfZybM9s4E70+onbgXeD4dgloYB32cHyMOxoZJXl
85egQ5jzh/gmvnHirNn/C7R1cVM9OvgpQSb+BB1D8Td06PhK4FvoWJJn21O3eLSsEe25rFEARf53
JY8/oRnyI40KfrRDIHxOs+dpEMVnFbLy1cwRl8NLu1m9maWQD1WjWsqaskyDcy464M3RSdVMM7At
5bGKKS9LkyNE1TkHv4X0tTMNCkVBSjB2VjXYLn93r1VSuhLtDj3MKiktcgyelfayxTUHuZAYgQ6m
6/FVqVNW1frSMQUfJl4fX73z/HVVDfcU9cmbs6664f5QwHsP8FkwHKtCu0p/ASwJhmO3AneEAt76
g0RYxIDbguHYCHQ8hK8dl/dKGVDr0es8ZhqT4EN0QM03QwFv+pWMJadbIrk9UHhEP48au7ysZUev
iOxR8CK+0ssdad4GNM+yaoUgxo0rvRE1KStn1JMxwK+BkHiwVcmZSylfYKfRDB6OlztY93HTii2P
NR3IR7AEmSUlZz5vly+oS7m0MoVXGEGG/VhFSZFKUiiaVqVm1iqEJQLHgeQgamrCJDtEiMzjHELi
t2nON7ktvxKCwonLxha+NK+iMjy9qKBxXkXluHkVlQOf+WS3r2eutfnEgT3GLtxQfSnaD/tb4LvB
cOzXwDOhgNf+qj8Vsw3gs3RgRamDFO1luArQwS6PA4+h13lkc1cWomMvRqIDZuZm1T4UG5tmX1GO
gaMWi3MGF3W5nUVQiIfvgQwSnV5wmtIp+NLlS03mFpT6VCleFdFRj4IcB+pkUrKgKyVfOPlXG3U6
2jPUUliLnCnJQqDVyFux1VKsBKEqlzSFnyiWqoNfUPR0TGQ3p9E4Ju5vQdGuyLXpRQWNiddd9fYP
gbm1jfbPttfGzzDq+pfArcCv0DkLVgTDsR+YZLRfRQGRYwRaZB+EBOicERehw2f9wD9NG/wrISSC
4dicYDi2vMWaDz3YLzAmyjnAhZZv2uFppfqYaQWYFbQtZm2L5ZA0E59mlZSeSfEZPZMKGXNaNymZ
NgUdl+IxHMtwMrtUkxeFrX6tDtRzNLuW+yBcSNF5yQvbkAqSgz6/ZpX4W6zVkRL/UWh/fgJVqg18
jth8SHPU6KRmIlN9iIsDKyicKN9Zd+24grwfxBUzvqhu2IBm4I9ArxzdYT5XoJn/jcFw7C/BcMyT
bXHUfhYSx6DDrW9h3/IpLjGDd4Ihi95Br8rckiB3g+FYHvBIKOCdEAp4k7mAbtW7BEpEZAQiFiLf
BAkw7JwWXgJlyQkiTHFMvWsdI3ODQr3t+PnhiNyEWMkL9Dw5Y8C6XpDRzZfyLOULtrSZw+y2e74x
sxLDdgY5dUOSftS98lMcXiVBjgKmc3RpM6l5dGk/4CoRx+yoVDl6JW52DsfOWY0yiWzEBA0ptduW
ravdYX0ATY9UnDCwx9EAqyrrJ22rjT8D/BwdFn2+IfRGG1W23KjVFxsV/eRgOPYKcH8o4F17AATE
SGMetT8HQzJxuBvtOrzAcBtvoyMzn0zjKr4e+EYwHJsdCniXJp3ptzHOxsIX0bEoAPlgXWn1rZ1M
n9L1CtkjqB4Ig5SSY2h2jwLq5aa3KxYofKUPok2IHiSyTol1IyX+CoRdKPogjEBHAybufSdKnmzX
3X+4pFqVlD4mIiYKVwrEil+u4L8dv2nA538WvV+skRVcbDVyJCWlGxA8NDIC4WvO56DgCaILWrce
1r5ap0pKVwhySrPclBUq+vGB4MY8h4As8HSJoLh4dMEnjo+JDXC+FQzHLgIeQi+e2WiOBEGYCCIZ
C/xXMBxbZGzyUCjgrexiATEZHRR1KR3fQiAKvIYOdPqzEYazzf18CuzMEE9yNjoo6+MWZxZsUPhK
njZaSGLh2Qnm+NyYFz2BI3Qm7SZsEuILkmb6xu5hyal7A50gKN/wJl9vEggtVzDuBRaplUPbHRav
7HhIPDnX0By78R/WuKn32qsW7WzWIggpbZIltI3x5thuOmaBk6oAViktdNujzZ2S8vlAoMjBVR2s
GJFiunaOoMiEUMD712A49r4hNi+gOSAoHaaa4/5gOBZBxzVEOkvTCIZjw42GcxktVxq2FTXAw4aI
ey8U8NY5yt9uOsls4LFMQWehgPf4Vv7jPRT3Abc0z60CwlCBISBW8rNSoLjHCCwHf/D3RuXzXwPq
AcGxaY4us2+q/qRQH4DcAI91hHBOkJoXAYjIaKycs9ErERP4AKXuA25tjiwVEApbaHOKXUrZNyLS
5gVtlkgScWnZ9tJ41w+oiZavaQ1JN3SsQ2Kzp3faeF0Cw1q9R5//dPO2r6PNhnXSvTizn80xa1Z2
mv/qg15z1DWCwgyMtcFw7CRD7h1H6wln8oBvmoNgOLbONPrHaH/ycmBDtujPYDjWHR3sdJR5eKeS
OYFOe/AROh5iBXoBTZ1DQ7kC+HW7F4GlwI6W1Vjj/C9iMdi0V2KX9NTnswW9cnEpMD9e/lpdi5k+
GomKr/Qho8mNR8cX9HTwUfVol+1y4AUVjazMSl5m6iOrXqunxD/PDBIPkIdwBeNKw6zSi9Xi0UiN
VTJtPsoajnCCua8CR12U4TFWo3hdNTa+ztrXG7P8fyopnkxc2qQSmb27YFKck+H7PWTPtjYny7nt
aZ5zAl22p64djSyzfP4FxlydQhYvWZcRi6GAtwF4IBiOzTck52BjgiwxnXdwK2rQCMNrJNAQDMc2
G6J0l1FVe5jOMIDmdP7J81T7eIiGNANlgqnHcPRGP9sMOXmSMZnWdMpDWxVZQdGU66287v+phGkC
JSgZgKhuKOoQtiooF8VCO5en+LgsYyZyFS17Qo0/832x5RKBKYgcgaIvUI+ozxUsVko9SfmC99Nc
Xkvyjl51Gf+Hva+Iyl+FMNJ8dYwRcE2rWu3yhSsYNfUGq1vuLERNAylG0QdUI8JWpeQDQc23V/7z
WahLp9nUOeqTRHLGq3MrrPyGTQh9UOyKN3T/JM2Ay2ntPtrBS6VDoxFYN9nRSHma8zejdy3LFJm6
FR2DRIpwCKPzpFQbkny70QA+RQc5DktD+u6m/RHAFwL3GM1bjAVQYY7jzSRfJewHBMOxpw3hN81U
7Eq0+9TbxX+91txoW7w79egFOKmbKl8NPGAEX+J+bjLk7YOhgPfazqywVVI6VAkDBHqjpBuiLHQ4
dJ2CKlFstcvbsIfmhDO6SdwzXKA/IvkocgEbUXsVbFd2fD0rX2uR3MZTUjpIiUxssloU78fLM+/T
apX4v4Yk/P7KY8d5k1VlVWl+dwSiBoD01nVR+p6U7BLURrs8acl8c32KSwcqy4RnK+rs8pQl1yX+
MxByUTTY5ZHXUs6djugBKrb6ML6ybAsuOoT9JSiK0bkeo4aTGGZs/4+BGw/Afdcb1Ts3RTAkws+7
GxvtWeDRUMD7kbmPs4BjQgHv7W7XcfHvhP0S0xAKeFcGw7GHjAq53PAHkVDAuzoYjnVLo3p1BLXo
7Dx7jAAY0wonMtFoEE7zZKSxmauAExKemGA4NgS94GsWHdyl3IULV6PYd43jj8DlxkRYbvgGr7HP
9hq7Nx1/kIpqw1tkMzVipqxupux0AuV14KlQwPtIMBy7H70a9C7g81DAe6/bbVy4guLACAoP2oU5
Gh1PYJsBfKThCM5Ak6Dn43DZdABx9NLtQnRkYabsVTXmv9YZrWNZKOCdmKbeNwAvhQJeN2zYxSEN
66tQiVDAGw8FvI+iN8+ZiU78shzYGwp4f4H2zb+I3suitci7xG5hqQucVppy69AkZ2+S1yLEzblK
tLtoKzoY7JEMQuIBw68c5nYjF65GcWA0jNvNbL8bHRZ8JzoYazg6U09qvReZAZ7YSexnRhB4gR+h
E8t8gV60NspwGR50irqlaJfQm+iNfKcCvlDAG8tSv0vRwWTfOQiT9bhw0W7kfEXr9TR6odV0YH0o
4D3bLCZbiF43EULHZkw2A3st8Hd0ePZsc1QbjeEdwy/8Ar1/QqWDA4mhVx5ODgW8DwXDsdvQ8R3j
zblMGtBTJEcgunDhCooDgAp03MXVZtAmTIP7gflmU50KIzjuCIZjE8z53wP/gSYqe6IDs/oCz4UC
3rgxZwiGYxvQQVqfoVPMR4xnY4MpY53bNVy4+IqbHm0wTa4yXMYMoykMNzP8MPTeoqegvR+RdKn5
jFD4Ek1U1qNjKcqAe0MB79/dbuHCxaEhKHKMafKgMSt6opczn9tKNqnE9atp3p3J2QZ1wOhQwLve
7RouXHz1TY+sMMlfPgfOCoZjb6NXhm4DjgrtOCyEAAAAWElEQVSGY++HAt69rRTxTzTZOSTle0Ur
iV1duPh3hHUI3EMI7dX4pTnasu/pS+hl438wPMYLhss4AvgwGI6Vul3DhYtDGPuaai8YjvUKhmOW
25IuXDTj/wNMTtu8f4kzLAAAAABJRU5ErkJggg==" />
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                Здравствуйте, {{user_name}}!
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                Вы зарегистрированы в сервисе <a href="{{system_url}}">Доска задач Scrum Board</a>.
                Чтобы войти в систему, пожалуйста, используйте ваши логин и пароль:
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <b>Логин</b>: {{login}}<br/>
                <b>Пароль</b>: {{password}}<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                Чтобы <b>изменить пароль</b> перейдите по ссылке: {{reset_url}}
            </td>
        </tr>
    </table>
</div>
