<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>{{ 'app.title'|trans({'%clientName%' : client_name }) }} - {% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/css/css') }}" />
        <link rel="stylesheet" href="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/css/main.css') }}" />
        <link rel="stylesheet" href="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/css/servicedesk.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}{% endblock %}

        <script src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/js/jquery.min.js') }}"></script>
        <script src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/js/jstz-1.0.4.min.js') }}"></script>
        <script src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/js/jquery.cookies.2.2.0.min.js') }}"></script>
        <script src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/js/bootstrap.min.js') }}"></script>
        <script src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/js/select2.js') }}"></script>
        <script src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/js/jquery.icheck.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ absolute_url('/co/bundles/Devprom/ServiceDeskBundle/public/js/app.js') }}"></script>

        <script type="text/javascript">
            $(document).ready( function() {
                $.cookies.setOptions({expiresAt:new Date(new Date().getFullYear() + 1, 1, 1)});
                $.cookies.set('devprom-client-tz', jstz.determine().name());
            });
        </script>
    </body>
</html>