{% extends 'base.html.twig' %}

{% block body -%}
    <header class="overlay {% block header_class %}{% endblock %}">
        {% block header_image %}{% endblock %}
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <h2>
                        <img src="//{{ app.request.getHttpHost() ~ '/co/bundles/Devprom/ServiceDeskBundle/public/images/icon1.png' }}" alt="">
                        {{ client_name }}
                    </h2>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('docs_list') }}"><i class="icon-home"></i> <span class="name">{{ 'kb.title'|trans }}</span></a>
                        </li>
                        <li>
                            <a id="home-link" href="{{ path('issue_list') }}"><i class="icon-home"></i>
                                <span class="name">{{ 'index.title'|trans }}</span>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.notifications | length > 0 %}
                                    <span class="numberCircle" title="{{ 'index.notifications'|trans }}"><span>{{ app.user.notifications | length }}</span></span>
                                {% endif %}
                            </a>
                        </li>
                        {% if app.user.company.seecompanyissues == "Y" %}
                            <li>
                                <a href="{{ path('issue_list') }}/company"><i class="icon-briefcase"></i> <span class="name">{{ 'index.company_title'|trans }}</span></a>
                            </li>
                        {% endif %}
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                {% include 'Common/language_selector.html.twig' %}
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('issue_new') }}" class="btn nav-btn"><i class="icon-plus-sign-alt"></i> <span class="name">{{ 'issue.add'|trans }}</span></a>
                        </li>
                        {% if app.user %}
                        <li>
                            <a id="logout-link" href="{{ path('fos_user_security_logout') }}">
                                <i class="icon-signout"></i> <span class="name">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content_header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    <section class="section">
        <div class="container">
            <div class="article text-center">
                <p>{{ 'any.page.footer'|trans({}, 'client')|raw }}</p>
            </div>
        </div>
    </section>
{% endblock %}